@charset "utf-8";
header{
	display:block;
	margin:0 auto;
	width:100%;
	text-align:center;
	}
header h1{ 
    font-family:"Microsoft Yahei";
	font-size:40px;
	font-weight:bold;
}
header #newgamebutton{
	display:block;
	margin:20px auto;
	 
	width:100px;
	padding:10px 10px;
	background-color:#8f7a66;
	
	font-family:"Microsoft Yahei";
    color:white;
	border-radius:10px;
	text-decoration:none;
	
	}
header #newgamebutton:hover{
	background-color:#9f8b77;
	
	}
header p{
	font-family:"Microsoft Yahei";
	font-size:25px;
	margin:20px auto;
	}
#grid-container{
	
	margin:50px auto;
	background-color:#bbada0;
	

	position:relative;
	}
	
.grid-cell{
	

	background-color:#ccc0b3;
	position:absolute;
	}
.number-cell{
	font-family:"Microsoft Yahei";
	font-weight:bold;
	font-size:30px;
	line-height:100px;
	text-align:center;
	position:absolute;
	
	}